<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Aggregate report</a>
    </div>
</nav>
{% if env or report %}
    <div class="panel-group" id="description">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#description" href="#collapseDescription">
                        Description
                    </a>
                </h4>
            </div>
            <div id="collapseDescription" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% if env %}
                        <div class="col-md-6">
                            <table class="table table-striped table-condensed table-responsive table-bordered">
                                {% for elem in env %}
                                    {% for k in elem.keys() %}
                                        <tr>
                                            <td>{{ k }}</td>
                                            <td>{{ elem[k] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                    {% if report %}
                        <div class="col-md-6">
                            {{ report }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="params">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#params" href="#collapseParams">
                        Parameters
                    </a>
                </h4>
            </div>
            <div id="collapseParams" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Show columns</span>
                                <div class="input-group-btn btn-group-custom" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input id="btn_show_mean" type="checkbox" onchange="showColumn('btn_show_mean', ['mean1', 'mean2', 'mean_trend']);"> Mean
                                    </label>
                                    <label class="btn btn-primary active">
                                        <input id="btn_show_median" type="checkbox" onchange="showColumn('btn_show_median', ['median1', 'median2', 'median_trend']);"> Median
                                    </label>
                                    <label class="btn btn-primary active">
                                        <input id="btn_show_90line" type="checkbox" onchange="showColumn('btn_show_90line', ['90line1', '90line2', '90line_trend']);"> 90% Line
                                    </label>
                                    <label class="btn btn-primary">
                                        <input id="btn_show_min" type="checkbox" onchange="showColumn('btn_show_min', ['min1', 'min2']);"> Min
                                    </label>
                                    <label class="btn btn-primary">
                                        <input id="btn_show_max" type="checkbox" onchange="showColumn('btn_show_max', ['max1','max2']);"> Max
                                    </label>
                                    <label class="btn btn-primary">
                                        <input id="btn_show_throughput" type="checkbox" onchange="showColumn('btn_show_throughput', ['throughput1','throughput2']);"> Throughput
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endif %}

{{ data_table }}

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.min1').hide();
        $('.min2').hide();
        $('.max1').hide();
        $('.max2').hide();
        $('.throughput1').hide();
        $('.throughput2').hide();
    });

    function showColumn(btn_name, columns) {
        var btn = document.getElementById(btn_name);

        for (var i = 0; i < columns.length; i++) {
            if (btn.checked) {
                $('.' + columns[i]).show();
            } else {
                $('.' + columns[i]).hide();
            }
        }

    }
</script>
</body>
