<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Aggregate report</a>
    </div>
</nav>
{% if env or report %}
    <div class="panel-group" id="description">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#description" href="#collapseOne">
                        Description
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% if env %}
                        <div class="col-md-6">
                            <table class="table table-striped table-condensed table-responsive table-bordered">
                                {% for elem in env %}
                                    {% for k in elem.keys() %}
                                        <tr>
                                            <td>{{ k }}</td>
                                            <td>{{ elem[k] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                    {% if report %}
                        <div class="col-md-6">
                            {{ report }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
{% endif %}
<div class="panel-group" id="params">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#params" href="#collapseParams">
                    Parameters
                </a>
            </h4>
        </div>
        <div id="collapseParams" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">Show columns</span>

                            <div class="input-group-btn btn-group-custom" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input id="btn_show_mean" type="checkbox" onchange="showColumn('btn_show_mean', ['mean']);"> Mean
                                </label>
                                <label class="btn btn-primary active">
                                    <input id="btn_show_median" type="checkbox" onchange="showColumn('btn_show_median', ['median']);"> Median
                                </label>
                                <label class="btn btn-primary active">
                                    <input id="btn_show_90line" type="checkbox" onchange="showColumn('btn_show_90line', ['90line']);"> 90% Line
                                </label>
                                <label class="btn btn-primary active">
                                    <input id="btn_show_min" type="checkbox" onchange="showColumn('btn_show_min', ['min']);"> Min
                                </label>
                                <label class="btn btn-primary active">
                                    <input id="btn_show_max" type="checkbox" onchange="showColumn('btn_show_max', ['max']);"> Max
                                </label>
                                <label class="btn btn-primary active">
                                    <input id="btn_show_stdev" type="checkbox" onchange="showColumn('btn_show_stdev', ['std']);"> StDev
                                </label>
                                <label class="btn btn-primary active">
                                    <input id="btn_show_throughput" type="checkbox" onchange="showColumn('btn_show_throughput', ['throughput']);"> Throughput
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

{% if perfmon > 0 %}
    <div class="panel-group" id="perfmon">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#perfmon" href="#collapsePerfmon">
                        PerfMon
                    </a>
                </h4>
            </div>
            <div id="collapsePerfmon" class="panel-collapse collapse">
                <div class="panel-body plot-panel">
                    {% for i in range(1, perfmon+1) %}
                         <img src="plots/perfmon{{i}}.png" class="perfmon-plot"/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
{% endif %}

<div class="panel-group" id="plots">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#plots" href="#collapsePlots">
                    Plots
                </a>
            </h4>
        </div>
        <div id="collapsePlots" class="panel-collapse collapse">
            <div class="panel-body plot-panel">
                <div class="row">
                    <img src="plots/hist_prob_all.png"/>
                    <img src="plots/hist_prob_line90.png"/>
                    <img src="plots/percentiles.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

{{ data_table }}

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript">
    $('table tbody tr').each(function (i, n) {
        if ($(n).children('.90line').text() > 1000) $(n).children().css('background-color', '#F7DFDF');
        if ($(n).children('.90line').text() > 3000) $(n).children().css('background-color', '#F5AEAE');
        if ($(n).children('.90line').text() > 10000) $(n).children().css('background-color', '#F77272');
        if ($(n).children('.90line').text() > 60000) $(n).children().css('background-color', '#F73131');
    });

    function showColumn(btn_name, columns) {
        var btn = document.getElementById(btn_name);

        for (var i = 0; i < columns.length; i++) {
            if (btn.checked) {
                $('.' + columns[i]).show();
            } else {
                $('.' + columns[i]).hide();
            }
        }

    }
</script>
</body>
